* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #faf9f9;
    display: block;
}

.header, .header-name, .header-nav, a {
    display: flex;
    color: white;
}

.header, .header-name {
    flex-basis: 500px;
}

.header-name, .header-nav {
    align-items: center;
    height: 60px;
/*     border: solid #660708 6px;
 */}

.header-nav, a {
    flex-grow: 1;
    flex-shrink: 1;
}
.header {
    flex-wrap: wrap;
    background-color: #161a1d;
/*     height: 60px;
 */    margin: 15px 10px 15px 10px;
}

.header-name {
    flex-grow: 4;
    flex-shrink: .5;
    font-size: 2rem;
    padding-left: 10px;
}

.header-nav {
    flex-basis: 300px;
    background-color:#660708;
}

a {
    justify-content: center;
    text-decoration: none;
    width: 100%;
    font-size: 1.2rem;
}


.main, .main-body, .headshot, .myphoto, .main-body h3, .main-body h4, .mainbody h2 {
    border: solid 5px;
    display: flex;
}

.main-body h2 {
    border: solid red 5px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 500px;
    border: solid blue 5px;
/*     justify-content: space-evenly;
 */}

.headshot {
    display: flex;
    flex-wrap: wrap;
    border: solid green 5px;
    padding-left: 20px;
    flex-grow: 0;
}

.main-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 600px;
    flex-grow: .5;
    padding-left: 20px;
    justify-content: unset;
    padding-right: 40px;
}

.main-body h2, .main-body h3, .main-body h4 {
}
.myphoto {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}